

.header__btn_share::before {
    content: url('../public/share.svg');

}

.header__btn_bookmark::before {
    content: url('../public/bookmark.svg');
}
.header__btn::before {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 8px;
}