.job__item {
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.job__location {
    
}
.job__location::before {
    content: url('../public/address-pin.svg');
    margin-right: 0.5rem;
    vertical-align: middle;
}